.table-row-regional {
    background-color:#f4ff59;
}
.table-row-terminal {
    background-color:#5eff73;
}
.table-row-port {
    background-color:#65f8ec;
}
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }